/*-----------Переменные цвета---*/
:root {
  --accent-color: #2196f3;
  --text-color: #757575;
  --basic-color: #212121;
  --active-color: #ffffff;
  --hero-color: #2f303a;
}
/*-шрифт на все кроме ссылок и кнопок*/
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  text-align: left;
}
/*- обнуляем отступы*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
img,

/*убираем декор у ссылок и у списков*/
a {
  text-decoration: none;
  color: var(--basic-color);
}
li {
  list-style-type: none;
}
/*-КОНТЕЙНЕР ДЛЯ ВСЕХ СТРАНИЦ*/
.container {
  width: 1600px;
  margin: 0 auto;
}
/* ---ШАПКА----*/
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 32 215px;
}
.logo {
  min-width: 145px;
  margin-top: 24px;
  margin-right: 93;
  margin-bottom: 25px;
  margin-left: 215px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.site-nav {
  display: flex;
  align-items: center;
}
.list-site:not(:last-child) {
  margin-right: 50px;
}
.adress-header {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-mail {
  margin-right: 50px;
}
.nav-phone {
  margin-right: 215px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--active-color);
}
span {
  color: var(--accent-color);
}
.nav.is-current {
  color: var(--accent-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.nav-mail,
.nav-phone {
  font-style: normal;
  color: var(--text-color);
}
.nav-mail:hover {
  color: var(--accent-color);
}
.nav-mail:focus {
  color: var(--accent-color);
}
.nav-phone:hover {
  color: var(--accent-color);
}
.nav-phone:focus {
  color: var(--accent-color);
}
/*--секция 1 ГЕРОЙ--*/
.hero {
  background-color: var(--hero-color);
  height: 600px;
  text-align: center;
  margin-bottom: 94px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--active-color);
  min-width: 696px;
  padding-top: 200px;
  padding-bottom: 30px;
}
.btn-hero {
  display: inline-block;
  border: 0;
  padding: 10px 32px;
  min-width: 73px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}
/*--секция 2 список--*/
/* ----------прячем заголовок---------- */
.visually-hiden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.list {
  display: flex;
  align-items: center;
  padding: 0 215px;
  margin-bottom: 94px;
}
.list-article {
  display: flex;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
.list-item {
  width: 270px;
  height: 101px;
}
.list-caption {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--basic-color);
  margin-bottom: 10px;
}
.text-list {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*--секция 3,4 --*/
.work {
  padding: 0 215px;
  margin-bottom: 94px;
}
.work-list {
  display: flex;
  align-items: center;
}
.work-img:not(:last-child) {
  margin-right: 30px;
}

.work-caption,
.command-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-bottom: 50px;
}
/* ------секция 4--------------- */
.command-list {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
  padding: 0 215px;
  text-align: center;
}
.command-article:not(:last-child) {
  margin-right: 30px;
}
.command-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.command-text {
  font-style: normal;
  font-weight: 400l;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*--footer--*/
footer {
  /* display: block; */
  align-items: center;
  background-color: var(--hero-color);
  padding: 60 215 57 215px;
}
.logo-footer {
  display: block;
  padding: 60px 215px 20px 215px;
  padding-top: 60px;
}
.footer {
  display: block;
  padding: 0px 0px 57px 215px;
}
.text-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--active-color);
  margin-bottom: 9px;
}
.footer-mail,
.footer-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail {
  margin-bottom: 9px;
}
/* СТИЛИ ДЛЯ ПОРТФОЛИО */
/* --------кнопки--------- */
.items {
  margin-top: 94px;
  margin-bottom: 34px;
}
.butons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
.btn {
  display: inline-block;
  border: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--basic-color);
  padding: 6px 22px;
  height: 38px;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  color: var(--active-color);
  background-color: var(--accent-color);
}
/* ------карточки----------- */
ul.article {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  /* outline: 4px solid red; */
  padding: 64px 215px 64px 185px;
}
.article-item {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100 / 3-15px);
}
.article-img {
  margin-bottom: 20px;
}
.article-caption {
  font-weight: 700d;
  font-size: 18px;
  line-height: 2x;
  letter-spacing: 0.06em;
  color: var(--basic-color);
  margin: 0px 24px 4px 24px;
}
.text {
  margin: 0px 24px 20px 24px;
}
